<!DOCTYPE html>
<html>
    <head>
        <!-- Google tag (gtag.js) -->
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-T4KG3BQ088"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-T4KG3BQ088');
        </script>
        <script src="https://kit.fontawesome.com/c38fe1f00c.js" crossorigin="anonymous"></script>
        <meta charset="utf-8" />
        
        <link rel="stylesheet" href='static/container.css'/>
        <link rel="stylesheet" href='static/adaptive.css'/>
        <link rel="stylesheet" href='static/content.css'/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@700&display=swap" rel="stylesheet">
        <title>HTML5</title>
        <style>
        </style>
    </head>
    <body>
        <header>
            <div class="header">
                <img src="static/images/logo2.png" class="logo">
            </div>
        </header>
        <div class="main-container">
            <div class="container">
                <div class="object">
                    <div class="element">
                        <div class="head_date">
                            <div class="day">16 июня</div>
                            <div class="week">Пт</div>
                        </div>
                        <div class="main_info">
                            <div class="lesson_object">
                                <div class="name_lesson">Основы теории управления</div>
                                <div class="lesson_item">
                                    <div class="time_lesson">16:20 - 17:50</div>
                                    <div class="type_lesson"><i class="fa-solid fa-pen"></i>Экзамен</div>
                                    <div class="lecturer"><i class="fa-solid fa-user"></i>Рушева Анна Витальевна</div>
                                    <div class="stream"><i class="fa-solid fa-users"></i>Поток:1422Б1УП1-OUP</div>
                                    <div class="building-auditorium"><i class="fa-solid fa-house"></i>124 (Корпус № 10)</div>
                                </div>
                            </div>

                        </div>
                        
                    </div>

                </div>
                <div class="object">
                    <div class="element">
                        
                    </div>

                </div>
                <div class="object">
                    <div class="element">
                        
                    </div>

                </div>
                <div class="object">
                    <div class="element">
                        
                    </div>

                </div>
                <div class="object">
                    <div class="element">
                        
                    </div>

                </div>
                <div class="object">
                    <div class="element">
                        
                    </div>

                </div>
                <div class="object">
                    <div class="element">
                        
                    </div>

                </div>
                <div class="object">
                    <div class="element">
                        
                    </div>

                </div>
                <div class="object">
                    <div class="element">
                        
                    </div>

                </div>
                <div class="object">
                    <div class="element">
                        
                    </div>

                </div>
                <div class="object">
                    <div class="element">
                        
                    </div>

                </div>
                <div class="object">
                    <div class="element">
                        
                    </div>

                </div>
                <div class="object">
                    <div class="element">
                        
                    </div>

                </div>
                <div class="object">
                    <div class="element">
                        
                    </div>

                </div>
                <div class="object">
                    <div class="element">
                        
                    </div>

                </div>
                <div class="object">
                    <div class="element">
                        

                </div>
            </div>
        </div>
    </body>
</html>